# Frontend
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3001
SITE_URL=http://localhost:3000

# CMS
DATABASE_URL=file:./.payload/payload.db
PAYLOAD_SECRET=change-me-in-production
SERVER_URL=http://localhost:3001
FRONTEND_URL=http://localhost:3000
